body {
    padding: 0;
    margin: 0;
    background-color: black;
    background: linear-gradient(to bottom right, rgb(66, 63, 63), black); 
}

.btn {
    color: white;
    background-color: darkgray;
    text-align: center;
    justify-content: center;
    padding: 0;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    border: black;
    margin: 5px;
    cursor: pointer;
}

.calculator {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat();
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
}

.display {
    text-align: right;    
}

.operators {
    color: white;
    background-color: rgb(204, 117, 10);
    text-align: center;
    justify-content: center;
    padding: 0px;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    border: white;
    margin: 5px;
    cursor: pointer;

}

#clear {
    width:6.5rem;
    background-color: darkred;
}

#delete {
    width: 6.5rem;
    background-color: darkred;
}
