*, *::before, *::after {
    box-sizing: border-box;
    /* font-family: ; */
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background-color: black;
    background: linear-gradient(to bottom right, rgb(66, 63, 63), black); 
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
    outline: none;
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    /* border: 1px solid white; */
    outline: none;
    background-color: rgba(255, 255, 255, 0.284);
    border-radius: 10px;
    color: white;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .50);
}


.output {
    grid-column: 1 / -1;
    outline: none;
    background-color: darkgray;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    border-radius: 10px;
    outline: none;
    
}

.output .previous-operand {
    color: rgba(0, 0, 0, .75);
    font-size: 1.5rem;
}

.output .current-operand {
    color: black;
    font-size: 2.5rem;
}

#operation {
    background-color: darkorange
}

#operation {
    button::hover chartreuse;
}

#allClear {
    background-color: crimson;
}

#delete {
    background-color: crimson;
}

.span-two {
    grid-column: span 2;
}
/* 
.btn {
    color: white;
    background-color: darkgray;
    text-align: center;
    justify-content: center;
    padding: 0;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    border: black;
    margin: 5px;
    cursor: pointer;
}

.calculator {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat();
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: red;
}

.display {
    text-align: right;    
}

.operators {
    color: white;
    background-color: rgb(204, 117, 10);
    text-align: center;
    justify-content: center;
    padding: 0px;
    width: 3rem;
    height: 2rem;
    border-radius: 10px;
    border: white;
    margin: 5px;
    cursor: pointer;

}

#clear {
    width:6.5rem;
    background-color: darkred;
}

#delete {
    width: 6.5rem;
    background-color: darkred;
} */
